<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'my_app_1:HOME' %}">Home</a></li>
        <li><a href="{% url 'my_app_1:ID_PAGE' %}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Employees App</h1>
    <p>Here you can find all the data about Ella's employees</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Employees ID</h3><br>
  <div class="row">
    {% for employee0 in employee1 %}
      <div class="col-sm-3">
        <p>{{employee0.FIRST_NAME}}</p>
        <a href="{% url 'my_app_1:ID_PAGE' %}"><img src="{{ employee0.IMAGE.url }}" class="img-responsive" style="width:100%" alt="Image"></a>


      </div>
    {% endfor %}
  </div>
</div><br>


<footer class="container-fluid text-center">
  <p>Thank You</p>
</footer>

</body>
</html>
